*, *:after,*:before{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  line-height: 1.5;
  color: #191919;
  font-family: "omnes-variable", sans-serif;
  font-style: normal;
  font-size: 16px;
  overflow-x: hidden;
}
